body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(218,222,221);
}

a:hover {
    background-color: wheat;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 32px 8px;
}

.top-left > img{
    width: 90%;
}

.top-right-container {
    display: flex;
    align-items: center;
}

form > input {
    padding: 8px
    margin: 8px
}